* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* .bg{
    background-color: ;
} */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 30px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 30px;
    color: #111;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist a {
    padding: 10px 20px;
    color: #111;
    font-size: 18px;
    transition: all .4s;
}

.navlist a:hover {
    color: crimson;
}

.nav-btn a {
    padding: 10px 20px;
    border: 2px solid #111;
    border-radius: 10px;
    font-size: 18px;
    color: #111;
    transition: all .4s;
}

.nav-btn a:hover {
    background-color: #111;
    color: crimson;
}

.menu i {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

section {
    padding: 60px 14%;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home-text h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.home-text h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.home-text h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: crimson;
}

.home-text p {
    font-size: 19px;
    margin-bottom: 20px;
}

.social-icon i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(233, 221, 223);
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;
}

.social-icon i:hover {
    background-color: crimson;
    color: #fff;
}

.home-img img {
    max-width: 100%;
    width: 350px;
    height: auto;
    border-radius: 15%;
}

@media (max-width: 1155px) {
    header {
        padding: 30px 5%;
    }

    section {
        padding: 60px 5%;
    }
}

@media (max-width: 1024px) {
    .nav-btn a {
        display: none;
    }

    .home-text h1 {
        font-size: 55px;
    }
}

@media (max-width: 990px) {
    .menu i {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #111;
        height: 100vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .4s;
    }

    .navlist.active {
        right: 0;
    }

    .navlist a {
        color: #fff;
        display: block;
    }

    .home {
        display: flex;
        flex-direction: column;
    }

    .home-text {
        order: 2;
        text-align: center;
    }

    .home-text h1 {
        font-size: 45px;
    }
}

@media (max-width: 490px) {
    .home-text h1 {
        font-size: 35px;
    }

    .home-text p {
        font-size: 17px;
    }
}


body {
    
    background-color: #f8f8f8;
    color: #333;
}


